#clients-wrapper {
  position: relative;
}

#home-clients {
  background-color: #d8dbe2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @apply pt-5 pb-10 md:pt-10 md:pb-20;
}

.client-logos {
  position: relative;
  overflow: hidden;
  @apply w-full;
}

.scrolling-logos {
  display: flex;
  width: fit-content;
  flex: auto;
  flex-direction: row;
  gap: 50px;
}

.client-logo {
  width: 200px;
  height: 80px;
}

@media screen and (min-width: 768px) {
  .scrolling-logos {
    gap: 100px;
  }
  
  .client-logo {
    width: 220px;
    height: 100px;
  }
  
}
