#home-clients {
  position: relative;
}

.client-logos {
  border: 1px solid black;
}

#home-clients .client-logos a {
  position: relative;
  display: block;
  @apply w-full;
  @apply h-16 md:h-20 lg:h-32;
  border: 1px solid red;
}

#home-clients .client-logos a img {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

/* Page Divider - Start */

.home-clients-section-divider {
  position: absolute;
  background-image: url("../../../img/home-clients-section-divider.svg");
  height: 100px;
  width: 100%;
  bottom: -99px;
}

/* Page Divider - End */
