#home-courses {
  background-color: var(--bg-color-light);
  color: var(--text-color-dark);
}

.courses-container {
  @apply flex flex-col md:flex-row flex-wrap justify-center items-center;
}

.course {
  border: 1px solid var(--text-color-dark);
  border-radius: 5px;
  overflow: hidden;
  @apply flex flex-col justify-between w-full max-w-96 my-5;
}

.course:nth-child(2) {
  @apply md:mx-3 lg:mx-5 xl:mx-10;
}

.course-image {
  object-fit: cover;
}

.course-info {
  margin-top: 20px;
}

.course-title {
  @apply h-16 md:h-20 px-2;
  @apply text-xl md:text-2xl text-center font-semibold;
}

.course-tech {
  @apply h-12 px-3 my-5 md:my-10;
  @apply grid grid-cols-3 gap-5;
}

.course-tech-item {
  background-color: #b7c5e1;
  border-radius: 5px;
  padding: 0px 10px;
}

.course-tech-item-logo {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.course-link {
  @apply block w-full text-lg md:text-xl font-bold text-center px-5 py-2 mx-auto mt-8 md:py-3;
  background: linear-gradient(-45deg, #ee7752, #e73c7e);
  color: var(--text-color-dark);
  /* border-top: 1px solid var(--text-color-dark); */
  transition: all 0.5s ease-in-out;
}

.course-link:hover {
  /* @apply block text-lg md:text-xl font-bold text-center px-5 py-2 mx-auto mt-8 md:py-3; */
  /* background: var(--bg-color-dark); */
  background: linear-gradient(45deg, #ee7752, #e73c7e);
}