#home-projects {
  background-color: var(--section-bg-color);
  position: relative;
}

/* Page Divider - Start */

.home-projects-section-divider {
  position: absolute;
  background-image: url("../../../img/home-hero-section-divider.svg");
  height: 100px;
  width: 100%;
  bottom: -99px;
  left: 0;
  z-index: 5;
}

/* Page Divider - End */
