@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Animated Gradient - Start */
.animated-gradient {
  background-color: #a7ff99;
  background: radial-gradient(
      at 72% 52%,
      hsla(284, 83%, 79%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 26% 36%, hsla(162, 69%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 84% 66%, hsla(251, 89%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 39% 8%, hsla(163, 64%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 31% 64%, hsla(207, 95%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 11% 53%, hsla(341, 81%, 63%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 62%, hsla(292, 84%, 79%, 1) 0px, transparent 50%);

  background-size: 1400% 1400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: AnimateGradient 10s ease infinite;
  -moz-animation: AnimateGradient 10s ease infinite;
  animation: AnimateGradient 10s ease infinite;
}

@-webkit-keyframes AnimateGradient {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}
@-moz-keyframes AnimateGradient {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}
@keyframes AnimateGradient {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}
/* Animated Gradient - End */
