:root {
  --white: #fafaf9;
  --orange: #da5730;
  --black: #181819;
  --section-bg-color: #181819;
}

* {
  box-sizing: border-box;
}

body {
  color: black;
  @apply bg-stone-50;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 26, 26, 26;
    --background-end-rgb: 26, 26, 26;
  }
}
