:root {
  --white: 0, 0, 0;
  --black: #090b10;
}

* {
  box-sizing: border-box;
}

body {
  color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 26, 26, 26;
    --background-end-rgb: 26, 26, 26;
  }
}
