footer {
  background-color: var(--bg-color-dark);
  min-height: 60px;
  @apply flex flex-col md:flex-row justify-between items-center my-10;
}

#home-footer-logo {
  @apply w-1/2 mx-auto md:mx-0;
}

.home-footer-tagline {
  color: var(--text-color-light);
  opacity: 0.7;
  @apply text-sm lg:text-xl text-center md:text-left mt-5 mb-10 md:mb-0;
}
