/* Contact Links - Start */
#contact-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 0px 20px;
}

.contact-link {
  height: 2rem;
  width: 2rem;
  opacity: 0.7;
}

.contact-link:focus {
  outline: none;
}

.contact-link:hover {
  opacity: 1;
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) rotate(15deg);
}

.contact-link svg {
  pointer-events: none;
}

@media only screen and (min-width: 1260px) {
  .contact-link {
    height: 2.7rem;
    width: 2.7rem;
  }
}
/* Contact Links - End */